
#footer{
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

#footer #footer-nav{
    width: 100%;
    height: 260px;
    
    display: flex;
    background-color: #042630;

    position: sticky;
    top: 0;

    z-index: 100;
    box-shadow: 0px 11px 52px 10px rgba(4,38,48,0.75);
}

#footer-nav #footer-nav-kuro {
    width: 30%;
    height: 260px;

    display: flex;
    align-items: center;
}

#footer-nav #footer-nav-kuro img {
    width: 40%;
    margin-left: 10%;
}

#footer-nav #ft-diversitors {
    width: 40%;

    font-size: 1.8em;

    margin-left: 12%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-nav #footer-nav {
    width: 30%;
    margin-right: 4%;

    display: flex;
    justify-content: end;
    align-items: center;
}

#footer-nav a:hover {
    transform: scale(1.4);
    transition: transform 0.4s ease;
    
    cursor: none;
}

#footer-nav a:hover i {
    animation: dvsB 0.8s ease-in-out infinite;
    animation-delay: 0.4s;
}

#footer-nav a:hover #return {
    animation: borderAnim 0.8s ease-in-out infinite;
}

#return {
    width: 70px;
    height: 70px;

    border-radius: 70px;
    border: 3px solid #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#return i {
    color: #fff;
    font-size: 2.5em;
}

#footer-nav h1{
    color: white;
}


#footer #footer_img {
    margin-top: 150px;
    width: 100vw;
    height: 850px;

    background-image: url(../IMG/DVR-footer-logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.wdel1s {
    animation: dvsB 1s ease-in-out infinite;
}

.wdel2s {
    animation: dvsB 1s ease-in-out infinite;
    animation-delay: 0.2s;	
}

.wdel3s {
    animation: dvsB 1s ease-in-out infinite;
    animation-delay: 0.4s;	
}

.wdel4s {
    animation: dvsB 1s ease-in-out infinite;
    animation-delay: 0.6s;	
}

.wdel5s {
    animation: dvsB 1s ease-in-out infinite;
    animation-delay: 0.8s;	
}
   
@keyframes dvsB {
50% {
    color:#86b9b0;
    text-shadow:#4c7273 1px 4px 5px;
    }
}

@keyframes borderAnim {
50% {
    border: 3px solid #4c7273;
    }
}
