* {
    user-select: none;
}

body {
    background-color: rgb(20, 20, 20);
    /* background-image: url(../IMG/bg_314.gif); */
    
    height: 100vh;    
    margin: 0px;  

    gap: clamp(10px, 4vw, 100px);
}

body:hover > #trailer {
    opacity: 1;
}

#trailer {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 20px;
    
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
    
    display: grid;
    place-items: center;
}

#trailer:not([data-type=""]) > #trailer-icon {
    opacity: 1;
}

#trailer-icon {
    font-size: 6px;
    line-height: 4px;
    
    opacity: 0;
    transition: opacity 400ms ease;
}