* {
    user-select: none;
    padding: 0;
    margin: 0;
    font-family: "Kode Mono",monospace;
}

html, body {
    scroll-behavior: smooth;
}

body {
    background-color: #041421;
    /* background-image: url(../IMG/bg_314.gif); */
    
    height: 100vh;    
    margin: 0px;  
    
    gap: clamp(10px, 4vw, 100px);
    
    margin-bottom: 1000px;
    
    overflow-x: hidden;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: white;
}





/* Begin trailer  */
body:hover > #trailer {
    opacity: 1;
}

#trailer {
    height: 20px;
    width: 20px;
    border-radius: 20px;
    
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
    
    display: grid;
    place-items: center;

    background-color: #fff;
}

#trailer:not([data-type=""]) > #trailer-icon {
    opacity: 1;
}

#trailer-icon {
    font-size: 8px;
    line-height: 4px;
    
    opacity: 0;
    transition: opacity 400ms ease;
}
/* End trailer  */





#container{
    min-height: 100vh;
    /* background-color: aqua; */

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

}

.cursor_lineargradient{
    background-image: linear-gradient(60deg,#ff3e9d,#b2347f,#4a2757,#0e1f40);
    width: 400px;
    height: 400px;
    border-radius: 250px;

    opacity: 0;

    top: 0;
    left: 0;
    
    filter: blur(85px);

    position: absolute;
    z-index: -500;

    transition:opacity 400ms ease-in;
}
/* 
#teams:hover .cursor_lineargradient{
    opacity: 1;
}

#footer_nav:hover .cursor_lineargradient{
    opacity: 0;
}
#footer_img:hover .cursor_lineargradient{
    display: none;
} */






/* Begin navigation  */
#navigation {
    /* background-color: rgba(0, 0, 0, 0.3); */
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;

    z-index: 100;

    background-color: #04142137;

    /* background: rgba(4, 38, 48, 0.37); */
    border-radius: 2px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.4px);
    -webkit-backdrop-filter: blur(12.4px);
}

.navigation_items{
    /* background-color: red; */
    height: 70px;

    padding-top:30px ;
    margin: 0 1px;
    
    display: flex;
    align-items: center;
    
    text-align: center;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;

    box-sizing: border-box;
}

.fa-bars-staggered {
    transform: scaleX(180%);
}

#navigation #menu{
    width: 5%;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

#menu #menu_sidebar{
    width: 600px;
    height: 800px;

    border-radius: 15px;

    background-color: #ff3e9d;

    position: absolute;
    bottom: -800px;
    left: -20px;

    z-index: 900;

    display: none;
}

#menu::after{
    height: 100vh;
    content: "";

    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    z-index: 700;

    background-color: rgba(0, 0, 0, 0.5);

    display: none;
}

#navigation #menu i{
    font-size: 24px;
    color: white;
}

#navigation #nav{
    width: 80%;
    position: relative;
}

#navigation #nav .nav_nav_items {
    width: 100%;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    
    z-index: 200;
    transform: translateY(-55%);
}

#navigation #nav .nav_nav_items a {
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
    color: white;
}

#navigation #nav .nav_nav_items a:hover {
    background-color: white;
    color: black;
}





/* progress bar ngang */
.progress_bar_fill {
    width: 0;
    height: 68px;

    border-radius: 2px;

    margin-top: -30px;
    
    opacity: 30%;

    background-color: #f0f0f080;

    transition: width 0.3s ease-out;
}
/* End progressbar */

#navigation #logo{
    width: 10%;

    background-image: url(../SVG/Comp\ 1.gif);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: difference;
}

/* End navigation  */





/* Begin text  */
#text-container{
    /* background-color:bisque; */
    width: 100%;
    height: 1080px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items:center;

    scroll-margin-top: -100px; 
    /* scroll-snap-align: start; */

    background-image: url(../IMG/GD96r4nbsAArBs3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 9;
}

#text-container #container_filter {
    width: 100%;
    height: 100%;

    position: absolute;
    background-image: linear-gradient(180deg, #ffffff10 10%, #041421 81%);

    z-index: 11;
}

#text-container #text-container-center{
    width: 45%;
    height: 200px;
    margin-top: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* left: 50%;
    transform: translateX(5%); */

    z-index: 12;
}

ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.text-line {
    /* display: block; */
    font-size: 5.6em;
    color: white;
    position: absolute;
    opacity: 0;
    transition: opacity 0.6s ease, transform 0.6s ease;

}

.text-line > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-line.active {
    opacity: 1;
}

.container--word {
    display: inline-block;
    opacity: 0;
    transform: translateY(150%);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.part--first {
    transition-delay: 0.2s;
}

.part--second {
    transition-delay: 0.6s;
}

.word-visible {
    opacity: 1;
    transform: translateY(0);
}
/* End text  */





/* Begin lament  */
#lament_container {
    width: 100vw;
    height: 100%;

    display: flex;

    background-color: #041421;
    z-index: 10;
}

#lament_container .lament_column {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.lament_column .lament_block {
    width: 100%;
    padding-bottom: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
}

.lament_column .lament_block .lament_title {
    padding-top: 15px;
}

.lament_column .lament_space_s {
    width: 100%;
    height: 100px;

    background-color: #041421;
}

.lament_column .lament_space {
    width: 100%;
    height: 400px;

    background-color: #041421;
}

.lament_column .lament_block .lament_img {
    width: 670px;
    height: 1000px;

    box-shadow: -9px 3px 70px 2px rgba(0,0,0,0.62);
    -webkit-box-shadow: -9px 3px 70px 2px rgba(0,0,0,0.62);
    -moz-box-shadow: -9px 3px 70px 2px rgba(0,0,0,0.62);

}

.interactable {
    width: 670px;
    height: 1000px;
    background-position: center 70%;
    background-size: 100%;  
    opacity: 0.6;
    border-radius: 5px;
    
    transition: background-size 400ms ease, opacity 400ms ease;
}

.interactable:hover {
    background-size: 110%;
    opacity: 0.95;
    cursor: none;
}

.lament_desc {
    color: #999999;
}

/* 670 x 1000 img */
/* End lament  */





/* Begin slogan  */
#slogan{
    /* background-color: brown; */
    width: 100%;

    padding: 30px 10px;
    margin-right: 45px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#slogan h1{
    font-size: 80px;
    font-weight: 800;

    color: #041421;

    margin-left: 45px;
    transition: color .1s ease-in;
}

#slogan h1:hover {
    background-color: black;
    color: white;
}
/* End slogan  */





/* Begin showcase */
#showcase {
    width: 1920px;
    height: 880px;

    background-image: url(../IMG/bg-showcase.jpg);
    background-size: cover;
    background-position: bottom;

    /* padding-top: 40px;
    padding-bottom: 40px; */
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showcase-text {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

.showcase-text p {
    font-size: 3.5em;
}

.showcase-image-track {
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase-image {
    width: 110px;
    height: 500px;
    margin: 10px;

    border-radius: 50px;

    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 0.4s ease-in;
}

.showcase-image h3 {
    color: #fff;
    position: absolute;
    bottom: 20px;
    right: 50px;
    opacity: 0;
    transition: opacity 0.6 ease;
    transition: right .6s ease;
}

.showcase-image:hover {
    width: 240px;
    cursor: none;
}

.showcase-image:hover h3 {
    opacity: 1;
    right: 10px;
}
/* End showcase  */





/* Begin slider  */
#slider_container{
    /* background-color: cyan; */

    height: 3200px;
    width: 100%;

    padding-top: 40px;
}

#slider_container .slider_container-bar{
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    box-shadow: 30px 0 30px 0 black;
}


#slider_container .slider_container-bar .sc-bold {
    font-size: 1.2em;
    font-weight: 700;
}

#slider_container .slider_container-bar .sc-desc {
    letter-spacing: 2px;
}

#slider_container .slider_container-big{
    width: 100%;
    height: 850px;

    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

#slider_container .slider_container-medium{ 
    width: 100%;
    height: 550px;

    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
/* End slider  */





/* Begin teams  */
#teams {
    width: 100vw;

    padding-top: 300px;
    padding-bottom: 300px;
    
    display: flex;
}

#teams #teams-container {
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-self: center;
    gap: -250px;

    transform: translateX(-15%);
}

#teams .teams-dvr h1 {
    writing-mode: vertical-rl;
    font-size: 9em;
    color: #fff;
    letter-spacing: 10px;

    position: sticky;
    top: 100px;
    right: 0;
}

#teams-container .member-block {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-center {
    width: 350px;
    height: 500px;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 36px;
    perspective: 2500px;
    
    border-radius: 30px;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, .25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background: #000;
    
    cursor: none;
    z-index: 19;
    transition: all 0.5s;
}

.wrapper img {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, .25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    object-fit: cover;
}

.member-center:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
}

.wrapper::before,
.wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    border-radius: 30px;
    position: absolute;
    left: 0;
    box-shadow: rgba(0, 0, 0, .25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(to top, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12,13,19) 97%);
}

.wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(to bottom, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12,13,19) 97%);
}

.member-center:hover .wrapper::before,
.wrapper::after {
    opacity: 1;
}

.member-center:hover .wrapper::after {
    height: 120px;
}

.member-center:hover .cover-image {
    opacity: 0.3;
}

.info {
    width: 100%;

    filter: drop-shadow(2px 2px 2px #000);
    opacity: 0;
    color: #fff;

    position: absolute;
    padding: 10px;

    z-index: 20;
    transition: all 0.5s, opacity 0.2s ease-out;

    background: rgba(134, 185, 176, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
}

.member-center:hover .info {
    opacity: 1;
    transform: translate3d(5%, -20%, 670px) translateX(50%) translateY(70%);
}

.character {
    width: 90%;
    opacity: 0;
    transition: all 0.5s;
    filter: drop-shadow(2px 2px 2px #000);
    position: absolute;
    z-index: 19;
}

.member-center:hover .character {
    opacity: 1;
    transform: translate3d(5%, -20%, 670px) translateX(-14%);
}
/* End teams  */





/* Begin footer  */
#footer{
    /* background-color: blue; */
    width: 100%;


    display: flex;
    flex-direction: column;
    flex-grow: 0;
}
#footer #footer_nav{
    background-color: #000;
    width: 100%;
    height: 260px;
    display: flex;

    /* border: 2px solid rgba(255, 255, 255, 0.3); */
    box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.4);


    position: sticky;
    top: 0;

    z-index: 100;
}

#footer_nav #footer_nav-block1 {
    width: 25%;

    border-right: 1px solid rgba(255, 255, 255, 0.3);
}
#footer_nav #footer_nav-invitation {
    width: 35%;

    border-right: 1px solid rgba(255, 255, 255, 0.3);
}
#footer_nav #footer_nav-contact {
    width: 40%;

    border-right: 1px solid rgba(255, 255, 255, 0.3);
}
#footer_nav-contact .contact-block {
    margin-top: 15px;
}
#footer_nav-contact .contact-block a{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 30px;

    /* background-color: #ff3e9d; */
}
#footer_nav i{
    font-size: 30px;
    margin: 0 10px;
}
#footer_nav h1{
    color: white;
}


#footer #footer_img {
    margin-top: 200px;
    width: 100%;
    height: 650px;

    background-image: url(../IMG/DVR-footer-logo.png);
    background-size: contain;
    background-repeat: no-repeat;

}
/* End footer  */





@keyframes animation_card{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-1200px);
    }
}


