* {
    user-select: none;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(20, 20, 20);
    /* background-image: url(../IMG/bg_314.gif); */
    
    height: 100vh;    
    margin: 0px;  

    gap: clamp(10px, 4vw, 100px);

    margin-bottom: 1000px;
}


/* Begin trailer  */
/* 'trailer' là phần đuôi chuột */
body:hover > #trailer {
    opacity: 1;
}

#trailer {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 20px;
    
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
    
    display: grid;
    place-items: center;
}

#trailer:not([data-type=""]) > #trailer-icon {
    opacity: 1;
}

#trailer-icon {
    font-size: 6px;
    line-height: 4px;
    
    opacity: 0;
    transition: opacity 400ms ease;
}
/* End trailer  */




#container{
    min-height: 100vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}
.cursor_lineargradient{
    background-image: linear-gradient(60deg,#ff3e9d,#b2347f,#4a2757,#0e1f40);
    width: 400px;
    height: 400px;

    position: absolute;
    border-radius: 250px;
    filter: blur(85px);
    top: 0;
    left: 0;

    z-index: -500;
}


/* Begin navigation  */
#navigation{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
}
.navigation_items{
    /* background-color: red; */
    height: 70px;
    text-align: center;
    box-sizing: border-box;
    padding-top:30px ;
    margin: 0 5px;
    display: flex;
    align-items: center;

    border: 2px solid rgba(0, 0, 0, 0.3) ;
}
#navigation #menu{
    width: 5%;
}
#navigation #nav{
    width: 80%;
}
#navigation #logo{
    width: 10%;
}


/* progress bar ngang */

.progress_bar_fill {
    width: 0;
    height: 60px;
    margin-top: -29px;
    
    opacity: 30%;
    background-image: linear-gradient(to right, #7dbf27dc, #1c2987a3);
    transition: width 0.3s ease-out;
}
/* End progressbar */
/* End navigation  */


/* Begin introduce  */
#introduce{
    /* background-color:bisque; */
    width: 100%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* End introduce  */


/* Begin project  */
#project{
    background-color: aqua;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
#project_block {
    background-color: #ff3e9d;
    width: 120%;
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: rotate(5deg);
}

#project .project_card{
    background-color: blueviolet;
    width: 450px;
    height: 300px;

    margin: 0 20px;

    display: inline-block;
}
/* End project  */


/* Begin slogan  */
#slogan{
    background-color: brown;
    width: 100%;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#slogan h1{
    font-size: 80px;
    font-weight: 800;
    margin-left: 45px;
}
/* End slogan  */


/* Begin vriteria  */
#vriteria{
    background-color: orange;

    height: 2040px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#vriteria .vriteria_card {
    background-color: greenyellow;
    margin: 40px 20px;

    width: 80%;
    height: 600px;
}
/* End vriteria  */


/* Begin slider  */
#slider{
    background-color: cyan;

    width: 100%;
    height: 1000px;
}
/* End slider  */


/* Begin teams  */
#teams{
    background-color: burlywood;

    width: 100%;
    height: 4320px;
}
/* BEnd teams  */


/* Begin footer  */
#footer{
    /* background-color: blue; */
    width: 100%;
    height: 850px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    flex-grow: 0;
}
#footer #footer_nav{
    background-color: white;
    width: 100%;
    height: 250px;
    position: sticky;
    top: 0;
}

#footer #footer_img {
    width: 100%;
    height: 600px;

    background-image: url(../IMG/DVR-footer-logo.png);


}
/* End footer  */







/*
    css thi css lan luot class tu tren xuong theo file html nhe 
    nhung class dac biet (ex: .text_white{color: white !important})
    thi viet len tren dau duoi the *
*/