/* Begin navigation  */
#navigation {
    /* background-color: rgba(0, 0, 0, 0.3); */
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;

    z-index: 100;

    /* background-color: #04142137; */

    background: rgba(4, 38, 48, 0.37);
    border-radius: 2px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.4px);
    -webkit-backdrop-filter: blur(12.4px);
}

.navigation_items {
    /* background-color: red; */
    height: 70px;

    padding-top: 30px ;
    margin: 0 1px;
    position: relative;
    
    display: flex;
    align-items: center;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;

    box-sizing: border-box;
}

.fa-bars-staggered {
    transform: scaleX(180%);
}

#navigation #menu{
    width: 5%;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

#navigation #menu i {
    font-size: 24px;
    color: white;
}

#menu #sidebar_container {
    width: 100%;
    height: 1200px;
    background-color: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: -3px;
    right: 0;
    left: 0;

    display: flex;

    opacity: 0;

    transition: opacity 400ms ease-in-out;

    pointer-events: none;

    z-index: 1000;
}

#menu #sidebar_container.show {
    opacity: 1;
}

#sidebar_container #sidebar_box {
    width: 0;
    height: 75%;

    position: absolute;
    top: 20px;
    left: 30px;

    background: #86b9b037;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    
    pointer-events: auto;
    
    display: flex;
    flex-direction: column;

    transition: width 800ms ease-in-out;
}

#sidebar_container #sidebar_box.show {
    width: 700px;
}

#sidebar_box #sidebar-close {
    width: 100%;

    margin-top: 5px;

    display: flex;
    justify-content: end;
    transform: translateX(-5px);
}

#sidebar-close #sb-close-button {
    width: 60px;
    height: 60px;

    border: 2px solid #fff;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    font-size: 1.5em;
}

#sidebar-close #sb-close-button:hover {
    color: #041421;
    /* border: 2px solid #041421; */
    background-color: #fff;
}

#sidebar-close #sb-close-button:active {
    color: #fff;
    background-color: #041421;
}
#sidebar_box #sb_form {
    width: 100%;
    height: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

}
#sidebar_box #sb_form h1{
    color: white;
    font-size: 64px;

    margin-bottom: 20px;

}
#sidebar_box #sb_form label{
    align-self: start;
    margin-left: 100px;
    margin-top: 5px;

    color: white ;
}
#sidebar_box #sb_form > input{
    width: 75%;
    height: 60px;

    border-radius: 24px;

    padding: 0 20px;
    margin-top: 15px;

    font-size: 19px;

    box-sizing: border-box;

    border: none;

    color: white;

    background-color: rgba(0, 0, 0, 0.5);
}
#sidebar_box #sb_form #sb_form-sp{
    margin: 10px 0;

    display: flex;

    color: white;
}
#sidebar_box #sb_form #sb_form-sp a {
    margin-right: 180px;
}
#sidebar_box #sb_form #sb_form-sp input {
    width: 20px;
    height: 20px;

    margin-right: 10px;
}
#sidebar_box #sb_form input[type="submit"]{
    color: white;
    font-size: 24px;

    /* background-color: ; */
} 
#sb_form #sb_form-icon{
    width: 100%;
    height: 80px;

    margin-top: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
#sb_form #sb_form-icon > i{
    font-size: 40px;

    margin: 0 40px;
}

#sidebar_box #sb_form #sb_form-download {
    width: 100%;
    height: 250px;
}
#sb_form-download #download-qr{
    width: 100%;
    height: 130px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#download-qr #qr{
    width: 130px;
    height: 130px;
    /* background-color: violet; */

    background-image: url(../IMG/downloads/downloadqr.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#sb_form-download #download-store{
    width: 100%;
    height: 120px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
#sb_form-download #download-store .store-items{
    width: 30%;
    height: 60px;
}
#sb_form-download #download-store .store-items a{
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    color: white;

    background-color: rgba(0, 0, 0, 0.8);

    border-radius: 12px;
    box-shadow: 0px 2px 4px 1px rgba(255,255, 255, 0.5);
}
.store-items a > i{
    font-size: 40px;
    margin-right: 8px;
}
#navigation #nav {
    width: 80%;
    position: relative;
}

#navigation .nav_nav_items {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    
    z-index: 200;
}

#navigation #nav .nav_nav_items a {
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
}

#navigation #nav .nav_nav_items a:hover {
    background-color: white;
    color: black;
}





/* progress bar ngang */
.progress_bar_fill {
    width: 0;
    height: 68px;

    border-radius: 4px;

    margin-top: -30px;
    
    opacity: 30%;

    background-color: #f0f0f080;

    transition: width 0.4s ease-out;
}
/* End progressbar */

#navigation #logo{
    width: 10%;

    background-image: url(../SVG/Comp\ 1.gif);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: difference;
}

/* End navigation  */