
/* Begin slogan  */
#slogan{
    /* background-color: brown; */
    width: 100%;

    padding: 30px 10px;
    margin-right: 45px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#slogan h1{
    font-size: 80px;
    font-weight: 800;

    color: #041421;

    margin-left: 45px;
    transition: color .1s ease-in;
}

#slogan h1:hover {
    background-color: black;
    color: white;
}
/* End slogan  */


