
/* Begin teams  */
#teams {
    width: 100vw;

    padding-top: 300px;
    padding-bottom: 300px;
    
    display: flex;
}

#teams #teams-container {
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-self: center;
    gap: -250px;

    transform: translateX(-15%);
}

#teams .teams-dvr h1 {
    writing-mode: vertical-rl;
    font-size: 9em;
    color: #fff;
    letter-spacing: 10px;

    position: sticky;
    top: 100px;
    right: 0;
}

#teams-container .member-block {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-center {
    width: 350px;
    height: 500px;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 36px;
    perspective: 2500px;
    
    border-radius: 30px;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, .25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background: #000;
    
    cursor: none;
    z-index: 19;
    transition: all 0.5s;
}

.wrapper img {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, .25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    object-fit: cover;
}

.member-center:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
}

.wrapper::before,
.wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    border-radius: 30px;
    position: absolute;
    left: 0;
    box-shadow: rgba(0, 0, 0, .25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(to top, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12,13,19) 97%);
}

.wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(to bottom, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgba(12,13,19) 97%);
}

.member-center:hover .wrapper::before,
.wrapper::after {
    opacity: 1;
}

.member-center:hover .wrapper::after {
    height: 120px;
}

.member-center:hover .cover-image {
    opacity: 0.3;
}

.info {
    width: 100%;

    filter: drop-shadow(2px 2px 2px #000);
    opacity: 0;
    color: #fff;

    position: absolute;
    padding: 10px;

    z-index: 20;
    transition: all 0.5s, opacity 0.2s ease-out;

    background: rgba(134, 185, 176, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
}

.member-center:hover .info {
    opacity: 1;
    transform: translate3d(5%, -20%, 670px) translateX(50%) translateY(70%);
}

.character {
    width: 90%;
    opacity: 0;
    transition: all 0.5s;
    filter: drop-shadow(2px 2px 2px #000);
    position: absolute;
    z-index: 19;
}

.member-center:hover .character {
    opacity: 1;
    transform: translate3d(5%, -20%, 670px) translateX(-14%);
}
/* End teams  */


